.nav-container {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.nav-container .logo {
    position: relative;
}

.nav-container .logo img {
    height: 65px;
    width: 90px;
    margin-left: 52px;
}

.nav-container .bar-menus {
    display: none;
}

.nav-items {
    position: relative;
    width: 29%;
    margin-left: 8%;
}
.nav-items .nav-items-links {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.nav-items .nav-items-links .nav-item{
    list-style: none;
}

.nav-items .nav-items-links .nav-item .link-men,
.nav-items .nav-items-links .link-women,
.nav-items .nav-items-links .link-kids,
.nav-items .nav-items-links .link-beauty,
.nav-items .nav-items-links .link-home,
.nav-items .nav-items-links .link-studio {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.nav-search-bar {
    position: relative;
    width: 25%;
    margin-left: 10%;
}
.nav-search-bar .fa-magnifying-glass {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 22px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 19px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
}
.nav-search-bar .fa-magnifying-glass:hover {
    cursor: pointer;
}
.nav-search-bar input {
    position: relative;
    width: 74%;
    height: 36px;
    border: 1px solid #f5f5f6;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 19px;
}

.nav-search-bar input:focus {
    outline: none;
    border: none;
}

.nav-menus {
    position: relative;
    width: 15%;
    margin-left: 5%;
}

.nav-menus ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.nav-menus .profile,
.nav-menus .wishlist,
.nav-menus .bag {
    display: flex;
    flex-direction: column;
}

.nav-menus .profile,
.nav-menus .wishlist,
.nav-menus .bag:hover {
    cursor: pointer;
}
.nav-menus .profile .fa-user,
.nav-menus .wishlist .fa-heart,
.nav-menus .bag .fa-bag-shopping {
    margin-left: 40%;
    font-size: 21px;
}

.nav-items .nav-items-links .nav-item   .men-wear,
.nav-items .nav-items-links .link-women .women-wear,
.nav-items .nav-items-links .link-kids .kids-wear,
.nav-items .nav-items-links .link-home .home-wear,
.nav-items .nav-items-links .link-beauty .beauty-wear,
.nav-items .nav-items-links .link-studio .studio-wear {
    position: absolute;
    display: none;
    width: 200%;
    height: 400px;
    top: 21px;
    background-color: white;
}
.nav-items .nav-items-links .nav-item   .men-wear .men-wear-items-odd,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-odd,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-odd,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-odd,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-odd,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-odd {
    display: block;
    width: 200px;
    height: 370px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 32px auto;
    padding-left: 29px;
}
.nav-items .nav-items-links .nav-item   .men-wear .men-wear-items-even,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-even,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-even,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-even,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-even,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-even {
    display: block;
    width: 200px;
    height: 370px;
    background-color: #f4f4f7f2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 32px auto;
    padding-left: 29px;
}

.nav-items .nav-items-links .nav-item .men-wear .men-wear-items-odd .men-wear-items-name,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-odd .women-wear-items-name,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-odd .kids-wear-items-name,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-odd .home-wear-items-name,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-odd .beauty-wear-items-name,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-odd .studio-wear-items-name {
    display: block;
    color: #ee5f73;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 0 2px;
    white-space: nowrap;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 25px;
    font-weight: 700;
}
.nav-items .nav-items-links .nav-item   .men-wear .men-wear-items-odd .men-wear-items-link,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-odd .women-wear-items-link,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-odd .kids-wear-items-link,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-odd .home-wear-items-link,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-odd .beauty-wear-items-link,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-odd .studio-wear-items-link {
    display: block;
    font-size: 16px;
    text-decoration: none;
    line-height: 40px !important;
    font-weight: 400;
    text-transform: capitalize;
}
.nav-items .nav-items-links .nav-item   .men-wear .men-wear-items-odd .men-wear-items-link:hover,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-odd .women-wear-items-link:hover,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-odd .kids-wear-items-link:hover,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-odd .home-wear-items-link:hover,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-odd .beauty-wear-items-link:hover,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-odd .studio-wear-items-link:hover {
    font-weight: 700;
}
.nav-items .nav-items-links .nav-item    .men-wear .men-wear-items-even .men-wear-items-link:hover,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-even .women-wear-items-link:hover,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-even .kids-wear-items-link:hover,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-even .home-wear-items-link:hover,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-even .beauty-wear-items-link:hover,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-even .studio-wear-items-link:hover {
    font-weight: 700;
}

.nav-items .nav-items-links .nav-item  .men-wear .men-wear-items-even .men-wear-items-name,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-even .women-wear-items-name,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-even .kids-wear-items-name,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-even .home-wear-items-name,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-even .beauty-wear-items-name,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-even .studio-wear-items-name {
    display: block;
    color: #ee5f73;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 0 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    overflow: hidden;
    line-height: 25px;
    font-weight: 700;
}
.nav-items .nav-items-links .nav-item  .men-wear .men-wear-items-even .men-wear-items-link,
.nav-items .nav-items-links .link-women .women-wear .women-wear-items-even .women-wear-items-link,
.nav-items .nav-items-links .link-kids .kids-wear .kids-wear-items-even .kids-wear-items-link,
.nav-items .nav-items-links .link-home .home-wear .home-wear-items-even .home-wear-items-link,
.nav-items .nav-items-links .link-beauty .beauty-wear .beauty-wear-items-even .beauty-wear-items-link,
.nav-items .nav-items-links .link-studio .studio-wear .studio-wear-items-even .studio-wear-items-link {
    display: block;
    font-size: 16px;
    text-decoration: none;
    line-height: 40px !important;
    font-weight: 400;
    text-transform: capitalize;
}

/* .nav-items .nav-items-links .link-men:hover + .nav-items .nav-items-links .link-men .men-wear {
    display: flex;
    color: #ee5f73;
    Additional styling for the .men-wear when .link-men is hovered 
  } */
 
 .nav-item:hover .link-men + .men-wear {
    display: flex;
    /* color: #ee5f73; */
    /* Additional styling for the .men-wear when .link-men is hovered */
}
.nav-items .nav-items-links .link-women:hover  .women-wear {
    display: flex;
    /* color: #ee5f73; */
    /* Additional styling for the .men-wear when .link-men is hovered */
}
.nav-items .nav-items-links .link-kids:hover .kids-wear {
    display: flex;
    /* color: #ee5f73; */
    /* Additional styling for the .men-wear when .link-men is hovered */
}
.nav-items .nav-items-links .link-home:hover .home-wear {
    display: flex;
    /* color: #ee5f73; */
    /* Additional styling for the .men-wear when .link-men is hovered */
}
.nav-items .nav-items-links .link-studio:hover .studio-wear {
    display: flex;
    /* color: #ee5f73; */
    /* Additional styling for the .men-wear when .link-men is hovered */
}
.nav-items .nav-items-links .link-beauty:hover .beauty-wear {
    display: flex;
    /* color: #ee5f73; */
    /* Additional styling for the .men-wear when .link-men is hovered */
}

@media only screen and (max-width: 480px) {
    .nav-container {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .nav-container .logo img {
        height: 26px;
        width: 37px;
        margin-left: 10px;
    }

    .nav-container .bar-menus {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: 10px;
    }

    .nav-container .bar-menus .fa-bars {
        font-size: 19px;
    }

    .nav-items {
        display: none;
    }

    .nav-search-bar {
        position: relative;
        width: 66%;
        margin-left: auto;
    }
    .nav-search-bar .fa-magnifying-glass {
        position: relative;
        display: inline-block;
        width: 17px;
        height: 12px;
        padding-left: 5px;
        padding-top: 4px;
        padding-bottom: 7px;
        font-size: 13px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        background: #f5f5f6;
        border: 1px solid #f5f5f6;
    }
    .nav-search-bar .fa-magnifying-glass:hover {
        cursor: pointer;
    }
    .nav-search-bar input {
        position: relative;
        width: 88%;
        height: 23px;
        border: 1px solid #f5f5f6;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 10px;
    }

    .nav-search-bar input:focus {
        outline: none;
        border: none;
    }
    .nav-menus {
        display: none;
    }
}

@media only screen and (max-width: 280px) {
    .nav-container {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .nav-container .logo img {
        height: 26px;
        width: 37px;
        margin-left: 10px;
    }

    .nav-container .bar-menus {
        position: relative;
        display: inline-block;
        margin-left: 12px;
    }

    .nav-container .bar-menus .fa-bars {
        font-size: 19px;
    }

    .nav-items {
        display: none;
    }

    .nav-search-bar {
        position: relative;
        width: 60%;
        margin-left: 7%;
    }
    .nav-search-bar .fa-magnifying-glass {
        position: relative;
        display: inline-block;
        width: 17px;
        height: 12px;
        padding-left: 5px;
        padding-top: 4px;
        padding-bottom: 7px;
        font-size: 13px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        background: #f5f5f6;
        border: 1px solid #f5f5f6;
    }
    .nav-search-bar .fa-magnifying-glass:hover {
        cursor: pointer;
    }
    .nav-search-bar input {
        position: relative;
        width: 80%;
        height: 23px;
        border: 1px solid #f5f5f6;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 10px;
    }

    .nav-search-bar input:focus {
        outline: none;
        border: none;
    }
    .nav-menus {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1280px) {
    .nav-container {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    .nav-container .logo img {
        height: 26px;
        width: 37px;
        margin-left: 10px;
    }

    .nav-container .bar-menus {
        position: relative;
        display: inline-block;
        margin-left: auto;
        margin-right: 10px;
    }

    .nav-container .bar-menus .fa-bars {
        font-size: 19px;
    }

    .nav-items {
        display: none;
    }

    .nav-search-bar {
        position: relative;
        width: 60%;

        margin-left: 30%;
    }
    .nav-search-bar .fa-magnifying-glass {
        position: relative;
        display: inline-block;
        width: 17px;
        height: 12px;
        padding-left: 5px;
        padding-top: 4px;
        padding-bottom: 7px;
        font-size: 13px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        background: #f5f5f6;
        border: 1px solid #f5f5f6;
    }
    .nav-search-bar .fa-magnifying-glass:hover {
        cursor: pointer;
    }
    .nav-search-bar input {
        position: relative;
        width: 88%;
        height: 23px;
        border: 1px solid #f5f5f6;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        font-size: 10px;
    }

    .nav-search-bar input:focus {
        outline: none;
        border: none;
    }
    .nav-menus {
        display: none;
    }
}
